/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("open-sans"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-regular.woff2") format("woff2"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-regular.woff") format("woff");
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("open-sans"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-600.woff2") format("woff2"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-600.woff") format("woff");
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("open-sans"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-700.woff2") format("woff2"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-700.woff") format("woff");
}

/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("open-sans"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-italic.woff2") format("woff2"),
    url("../libs/fonts/open-sans-v28-latin_cyrillic-italic.woff") format("woff");
}

/*cursor: url("../img/cursor.svg")  default; */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: var(--color-white);
  font-family: "Open Sans";
}

h2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-black);
}

h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-black);
}

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.btn-reset {
  display: block;
  font-family: "Open Sans";
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-reset:focus-visible {
  outline: none;
}

#form__dec_search_320 {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}

:root {
  --darkVioler: #7943a4;
  --violet: #c283f3;
  --BlueViolet: #9d5cd0;
  --color-white: #fff;
  --color-black: #333333;
  --color-black-grey: #999999;
  --color-black-black: #000000;
  --color-grey-white: #cacaca;
  --color-grey: #b6b6b6;
  --color-grey-white-white: #ececec;
  --color-black-grey-grey: #666666;
  --whiteViolet: #d1a9f0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__top {
  background-color: var(--color-black-black);
}

.header__top-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 27px;
}

.header__burger {
  display: none;
}

.header__logo {
  display: block;
  margin-right: 180px;
}

.header__nav {
  margin-right: auto;
}

.header__top-list {
  display: flex;
  align-items: center;
}

.header__top-link {
  position: relative;
  z-index: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  cursor: pointer;
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
}

.header__top-list-item:not(:last-child) {
  margin-right: 62px;
}

.header__top-btn {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}

.header__top-btn-span {
  padding-left: 6px;
}

.header__top-btn::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -2px;
  bottom: -2px;
  background-color: var(--darkVioler);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.header__top-btn:focus-visible::before {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.header__top-btn:hover {
  color: var(--violet);
}

.header__top-btn:active {
  color: var(--BlueViolet);
}

.header__top-btn:hover path {
  fill: var(--violet);
  transition: 0.3s ease-in-out;
}

.header__top-btn:active path {
  fill: var(--BlueViolet);
  transition: 0.3s ease-in-out;
}

.header__bottom-container {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__bottom-menu-btn {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
}

.header__bottom-menu-btn::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -20px;
  top: -2px;
  bottom: -2px;
  background-color: var(--darkVioler);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.header__bottom-menu-btn:focus-visible::before {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.header__bottom-menu-btn:hover:not(:focus):not(:active) {
  color: var(--BlueViolet);
}

.header__bottom-menu-btn.header__bottom-menu-btn--active {
  color: var(--darkVioler);
}

.header__bottom-menu-btn::after {
  content: '';
  position: absolute;
  width: 7.07px;
  height: 7.07px;
  right: -15px;
  top: 9px;
  border-bottom: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.header__bottom-menu-btn:hover::after {
  border-color: var(--BlueViolet);
}

.header__bottom-menu-btn.header__bottom-menu-btn--active::after {
  top: 12px;
  transform: rotate(-135deg);
  border-color: var(--darkVioler);
}

.header__bottom-menu-item {
  position: relative;
}

.header__bottom-menu-item:not(:last-child) {
  margin-right: 113px;
}

.header__bottom-form-button {
  padding: 0;
  padding-right: 12px;
  background: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  transform: translateY(2px);
}

.header__bottom-form-button:focus-visible {
  outline: none;
}

.header__bottom-form-dec {
  display: flex;
  margin-left: auto;
  border: none;
  outline: none;
  border-radius: 16px;
  background: transparent;
  color: var(--color-white);
  align-items: center;
}

.header__bottom-form-input {
  width: 213px;
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 5px;
  padding-top: 4px;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}

.header__bottom-form-input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__bottom-form-input:focus-visible:not(:hover):not(:active) {
  border-color: var(--darkVioler);
}

.header__bottom-form-input:hover:not(:focus):not(:active) {
  border-color: var(--violet);
  transition: 0.3s ease-in-out;
}

.header__bottom-form-input:focus::placeholder {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

/*--------------------------------------------------section-hero----------------------------------------------------*/
.hero {
  position: relative;
  word-wrap: break-word;
}

.hero__container {
  padding-top: 238px;
  padding-bottom: 116px;
}

.hero .swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__contant {
  max-width: 579px;
  height: 446px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 72px;
  max-width: 579px;
  line-height: 94px;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 2px;
}

.hero__paragraph {
  display: block;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
  margin-bottom: auto;
  margin-top: 0;
}

.hero__btn {
  display: inline-block;
  max-width: 254px;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  background-color: var(--BlueViolet);
  border-radius: 100px;
  padding: 22.5px 22px 22.5px 35px;
  color: var(--color-white);
}

.hero__btn:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--violet);
  outline-offset: -0.5px;
  border: 2px solid var(--color-white);
}

.hero__btn:hover:not(:focus):not(:active) {
  outline: 3px solid var(--whiteViolet);
}

.hero__btn:active {
  outline: 3px solid var(--whiteViolet);
  background-color: var(--darkVioler);
}

/*-----------------------------------------------------swiper-----------------------------------------------*/
.swiper-style picture img {
  width: 100%;
}

.white {
  color: var(--color-white);
}

/* ---------------------------------------------------header-search----------------------------------------------------- */
.btn__input {
  width: 21.93px;
  height: 21.55px;
  border: none;
  outline: none;
  background: url("../img/search_hover.svg") no-repeat;
  cursor: pointer;
  flex-shrink: 0;
}

.btn__close {
  position: relative;
  margin-left: 22px;
  flex-shrink: 0;
}

#form__dec_close-320 {
  display: none;
}

.header__search-button {
  background: none;
  cursor: pointer;
  width: 21.93px;
  height: 21.55px;
  border: none;
  display: inline-block;
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
  justify-content: flex-end;
  transform: translateY(-4px);
}

.header__button--reset {
  display: none;
}

#header__search-button_320 {
  display: none;
}

.header__search-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}

.form__dec {
  margin-left: 10px;
  border: none;
  outline: none;
  background: var(--color-black-black);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 20;
}

.form__dec--active {
  opacity: 1;
  visibility: visible;
}

.header__form-input {
  width: 213px;
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 1px;
  padding-top: 25px;
  color: var(--color-white);
}

.header__search-wrap {
  margin-left: auto;
  display: none;
}

/* -------------------------------------------------burger--------------------------------------------------- */
.header__burger-btn {
  width: 36px;
  height: 38px;
  position: relative;
  z-index: 6;
  overflow: hidden;
}

.header__burger-btn span {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}

.header__burger-btn span:nth-of-type(2) {
  width: 54px;
  left: 0;
  top: calc(50% - 3px);
}

.header__burger-btn span:nth-of-type(3) {
  width: 44px;
  left: 0;
  top: calc(50% + 10px);
}

.header__burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 620px;
  padding: 15px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.header__burger-menu.active {
  opacity: 1;
  visibility: visible;
}

.header__burger-btn.active span:nth-of-type(1) {
  display: none;
}

.header__burger-btn.active span:nth-of-type(2) {
  top: 50%;
  width: 36px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.header__burger-btn.active span:nth-of-type(3) {
  top: 50%;
  width: 36px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.header__burger-menu-link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  color: var(--color-white);
}

.header__top-link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -2px;
  bottom: -2px;
  background-color: var(--darkVioler);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.header__top-link:focus {
  outline: none;
}

.header__top-link:focus-visible::before {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.header__top-link:hover:not(:focus):not(:active) {
  color: var(--violet);
}

.header__top-link:active {
  color: var(--darkVioler)
}

.header__burger-btn-in {
  text-align: center;
  max-width: 257px;
  vertical-align: middle;
  border: 2px solid var(--BlueViolet);
  border-radius: 100px;
  padding: 10px 60px 10px 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.header__burger-btn-in svg {
  padding-right: 10px;
}

/*------------------------------------------------about-us-----------------------------------------------*/
.about__container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about__desc {
  margin: 0;
  margin-bottom: 14px;
}

.about__paragraph {
  max-width: 1080px;
  height: auto;
  word-wrap: break-word;
  padding: 1px;
  margin-bottom: 0;
}

/*-------------------------------------------------gallery-----------------------------------------------------*/
.gallery {
  background: url("../img/main_gallery.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 78px;
  overflow: hidden;
}

.gallery__container {
  display: flex;
  align-items: flex-end;
}

.gallery__desc {
  margin: 0;
  color: var(--color-white);
}

.gallery__label {
  color: var(--color-white);
  margin-bottom: 11px;
}

.gallery__font-btn {
  position: relative;
  bottom: 2px;
  left: 50px;
  display: inline-block;
  font-size: 16px;
  color: var(--color-white);
}

.gallery__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 400px;
  height: 435px;
}

/*----------------------------check-box---------------------------------*/
.gallery__checkbox {
  position: relative;
  font: 400 15px/32px 'Open Sans';
  color: var(--color-white);
}

.check__label {
  cursor: pointer;
}

.check {
  width: 0;
}

.check+span {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 28%;
  left: 0;
  outline: 1px solid var(--color-white);
}

.check+.mark::before {
  content: "";
  top: 35%;
  left: 35%;
  width: 4px;
  height: 4px;
  background-color: var(--violet);
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}

.check:checked+.mark::before {
  opacity: 1;
}

.check:focus+.mark {
  outline-color: var(--violet);
}

.check:focus+.mark+.check__text {
  color: var(--violet);
}

.check:hover+.mark {
  outline-color: var(--violet);
}

.check:focus+.mark::before:checked {
  background-color: var(--color-white);
  opacity: 1;
  transition: all .3s ease-in-out;
}

.check[type="checkbox"]:checked+.mark {
  outline-color: var(--violet);
  opacity: 1;
  transition: all .3s ease-in-out;
}

.check__text {
  font: 400 15px/32px 'Open Sans';
  color: var(--color-white);
  padding-left: 22px;
}

.check[type="checkbox"]:checked+.mark+.check__text {
  color: var(--violet);
}

/*--------------------------------------select--------------------------------*/
.main__custom-select {
  position: relative;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: auto;
}

.main__button {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-grey-white-white);
  border-radius: 6px;
  padding: 1px 15px 2px 15px;
  font-size: 16px;
  line-height: 2em;
  color: var(--color-white);
  cursor: pointer;
  z-index: 1;
}

.main__button:focus-visible {
  outline: 1px solid var(--color-black-grey);
  background-color: rgba(255, 255, 255, 0.2);
}

.main__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main__button::after {
  content: "";
  position: absolute;
  background-image: url("../img/menu_check-on.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
}

.main__button--active {
  background: transparent;
}

.main__button--active::after {
  content: "";
  position: absolute;
  background-image: url("../img/white_check_off.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.main__button-list {
  display: none;
  top: 40px;
  left: 0;
  width: 100%;
  font-size: 16px;
  line-height: 2em;
}

.main__button-list--visible {
  display: initial;
}

.main__button-item {
  display: block;
  color: var(--color-white);
  border: 1px solid var(--color-black-grey);
  border-radius: 6px;
  padding-left: 13px;
  padding-bottom: 4px;
  opacity: 0.6;
}

.main__button-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.main__input-hidden {
  display: none;
}

/* --------------------------------------------- */
.gallery__content--right {
  position: relative;
  min-width: 0;
  max-width: 100%;
  margin-left: 50px;
}

.gallery__slider {
  position: relative;
  min-width: 0;
}

.gallery-wrapper {
  position: relative;
}

.gallery__wrapper-slide {
  flex-shrink: 0;
}

.gallery__wrapper-slide:focus {
  outline: 4px solid var(--darkVioler);
}

.gallery__wrapper-slide:hover::after {
  display: block;
}

.gallery__wrapper-slide::after {
  content: '';
  position: absolute;
  display: none;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 25px;
  background-image: url(../img/galery_loop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.gallery__wrapper-slide:active::before {
  display: block;
}

.gallery__wrapper-slide::before {
  content: "";
  position: absolute;
  display: none;
  width: 350px;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
}

#gallery-pagination {
  bottom: 99%;
  text-align: left;
  margin-left: 50px;
}

.swiper-pagination-fraction {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.gallery__slider-btn {
  margin-bottom: 20px;
  width: 130px;
  display: flex;
  justify-content: space-between;
}

#gallery-button-prev,
#gallery-button-next {
  position: relative;
  top: -8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-black-grey-grey);
  border: 1px solid var(--color-black-grey-grey);
  transition: all .3s ease-in-out;
}

#gallery-button-prev {
  left: 2px;
}

#gallery-button-next {
  left: 4px;
}

#gallery-button-next::after {
  display: unset;
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  border-left: solid 1px var(--color-white);
  border-top: solid 1px var(--color-white);
  width: 9px;
  height: 9px;
  transform: rotate(135deg);
  transition: all .3s ease-in-out;
}

#gallery-button-prev::after {
  display: unset;
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  border-left: solid 1px var(--color-white);
  border-top: solid 1px var(--color-white);
  width: 9px;
  height: 9px;
  transform: rotate(-45deg);
  transition: all .3s ease-in-out;
}

#gallery-button-next:focus:not(:hover):not(:active),
#gallery-button-prev:focus:not(:hover):not(:active) {
  outline: 2px solid var(--BlueViolet);
}

#gallery-button-next:hover:not(:focus):not(:active),
#gallery-button-prev:hover:not(:focus):not(:active) {
  background: var(--BlueViolet);
  border: 2px solid var(--BlueViolet);
}

#gallery-button-next:active,
#gallery-button-prev:active {
  background: var(--darkVioler);
  border: 2px solid var(--darkVioler);
}

/*-------------------------------------------------catalog-----------------------------------------------------*/
.catalog__container {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.catalog__title-wrapper {
  max-width: 1080px;
  word-wrap: break-word;
}

.catalog__title {
  margin: 0;
}

.catalog__paragraph {
  margin-bottom: 0;
}

.catalog__main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.catalog__left-content-one,
.catalog__left-content-two {
  max-width: 750px;
  word-wrap: break-word;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: unset;
}

.catalog__left-portret {
  margin-bottom: 30px;
}

#portet {
  width: 100%;
}

.catalog__left-name {
  margin-bottom: 10px;
  margin-bottom: 7px;
}

.catalog__left-date {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-black-grey);
  margin-bottom: 12px;
}

.catalog__left-desc {
  padding: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__right-content {
  flex-basis: 50%;
  margin-left: 10px;
}

/*----------------------------------accordion------------------------------*/
.catalog__item-list {
  cursor: pointer;
}

.catalog__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 14px;
  margin-top: -1px;
}

.catalog__item-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-property: transform;
  transition: 0.2s ease-in-out;
}

.catalog__item-list:active .catalog__item-btn svg {
  transform: rotate(180deg);
}

.catalog__item-top:hover,
.catalog__item-top:focus-visible {
  border-color: var(--BlueViolet);
  position: relative;
  z-index: 1;
}

.catalog__item-top:hover .catalog__item-btn svg {

  border-color: var(--BlueViolet);
  fill: var(--whiteViolet);
  stroke: var(--whiteViolet);
}

.catalog__item-top:hover h3 {
  color: var(--BlueViolet);
}

.catalog__item-list:focus-visible .catalog__item-btn svg {
  fill: var(--whiteViolet);
  stroke: var(--whiteViolet);
}

.catalog__item-btn:focus-visible svg {
  fill: var(--whiteViolet);
  stroke: var(--whiteViolet);
}

.catalog__item-list:focus-visible:not(:active) .catalog__item-caption {
  color: var(--color-white);
  background-color: var(--BlueViolet);
}

.catalog__item-list {
  outline: none;
}

.catalog__item-top:focus-visible,
.catalog__item-btn:focus-visible {
  outline: 0;
}

.catalog__item-top.ui-state-active {
  border-color: var(--darkVioler);
}

.catalog__item-top.ui-state-active .catalog__item-btn svg {
  transform: rotate(180deg);
  fill: var(--whiteViolet);
  stroke: var(--BlueViolet);
}

.catalog__item-top.ui-state-active h3 {
  color: var(--darkVioler);
}

.catalog__item-top.ui-state-active+.catalog__item-bottom {
  border-bottom: 1px solid var(--BlueViolet);
  position: relative;
  z-index: 2;
}

.catalog__item-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
}

.catalog__item-bottom-content {
  display: flex;
  align-items: center;
}

.catalog__item-bottom-wrap {
  max-width: 300px;
  padding: 40px 3px 40px 24px;
}

.catalog__item-bottom-desc {
  margin: 0;
}

.catalog__item-bottom-paragraph {
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 0;
}

.catalog__item-bottom-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--BlueViolet);
}

.catalog__item-bottom-link:focus {
  outline: 0;
  background-color: var(--violet);
  color: var(--color-white);
}

.catalog__item-bottom-link:hover {
  border-bottom: 1px solid var(--BlueViolet);
}

.catalog__item-active-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--BlueViolet);
}

.catalog__item-active-link:hover {
  border-bottom: 1px solid var(--BlueViolet);
}

.catalog__item-bottom-portret1 {
  width: 275px;
  height: 189px;
  padding: 12px;
  border: 2px solid #b7b7b7;
}

.catalog__item-bottom-portret2 {
  width: 100%;
  height: 100%;
  background-color: #b7b7b7;
}

.catalog__grid {
  display: grid;
  min-height: 295px;
  grid-template-columns: repeat(3, 0.3fr);
  grid-column-gap: 20px;
}

.catalog__grid-btn {
  min-height: 32px;
}

.catalog__grid-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
  text-align: start;
}

.catalog__grid-btn:hover:not(:active) {
  border-bottom: 1px solid var(--BlueViolet);
}

.catalog__grid-btn:focus:not(:active) {
  background-color: var(--darkVioler);
}

/*--------------------------------------------------------event---------------------------------------------------*/
.event {
  padding-bottom: 80px;
  overflow: hidden;
}

.event__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.event__slider-slide {
  max-width: 500px;
  min-height: 300px;
}

.event__slider-content-wrap {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 400px;
  height: 347px;
  border: 1px solid var(--color-grey-white);
  border-top: none;
  padding: 16px 48px 43px 50px;
  margin-top: -4px;
}

.event__slider-content-span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-black-grey);
  width: 100%;
  margin-bottom: 16px;
}

.event__slider-content-title {
  display: block;
  margin: 0;
  margin-bottom: 6px;
}

.event__slider-content-desc {
  line-height: 32px;
  margin-bottom: auto;
  margin-top: 0;
}

.event__slider-content-link {
  position: relative;
  display: block;
  max-width: 92px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--BlueViolet);
  color: var(--BlueViolet);
  z-index: 20;
}

.event__slider-content-link:hover {
  color: var(--darkVioler);
}

.event__slider-content-link:active {
  color: var(--color-black);
}

.event__slider-content-link:focus-visible {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  color: var(--color-white);
  outline: none;
}

.event__slider-content-link:focus::after {
  visibility: visible;

}

.event__slider-content-link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--BlueViolet);
  width: 92px;
  height: 30px;
  z-index: -1;
  visibility: hidden;
  transition: visibility 0.1s ease-in-out;
}

/*----------------------------event__slider--------------------*/
.event__swiper {
  width: 100%;
}

.event__slider-slide picture img {
  width: 100%;
  background-size: cover;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

#event-button-prev {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 1px;
}

#event-button-next {
  width: 50px;
  height: 50px;
  top: 50%;
  right: 1px;
}

#event-button-next.swiper-button-disabled,
#event-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}

#event-button-next:focus,
#event-button-prev:focus {
  outline: none;
}

#event-button-next:focus:not(:hover):not(:active) svg,
#event-button-prev:focus:not(:hover):not(:active) svg {
  stroke: var(--BlueViolet);
}

#event-button-next:hover svg,
#event-button-prev:hover svg {
  fill: var(--whiteViolet);
}

#event-button-next:active svg,
#event-button-prev:active svg {
  stroke: var(--BlueViolet);
  fill: var(--whiteViolet);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-black-grey-grey);
}

#event-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-right: 8px;
}

#event-pagination {
  display: none;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}

/*------------------------------------------------------section-project-------------------------------------------------*/
.project {
  overflow: hidden;
  padding-bottom: 80px;
}

.project__title {
  margin-top: 0;
  margin-bottom: 12px;
}

.project__desc {
  max-width: 1080px;
  padding: 0px;
  word-wrap: break-word;
  margin-bottom: -6px;
}

.project__desc-link {
  color: var(--BlueViolet);
}

.project__desc-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.project__desc-link:focus-visible {
  outline: none;
  background-color: var(--BlueViolet);
  color: var(--color-white);
}

.project__desc-link:active {
  color: var(--darkVioler);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.tippy {
  cursor: pointer;
}

.tippy-box {
  padding: 5px 4px 4px 4px;
  font: 600 12px/16px 'Open Sans';
  color: var(--color-white);
  background-color: var(--BlueViolet);
  border-radius: 0;
}

.tippy-arrow {
  color: var(--BlueViolet);
}

.tippy:focus-visible {
  fill: var(--BlueViolet);
  outline: none;
}

.tippy:focus-visible .i {
  fill: var(--color-white);
}

.tippy:hover {
  fill: var(--whiteViolet);
}

.tippy:active {
  fill: var(--BlueViolet);
  outline: none;
  border: none;
}

.tippy:active .i {
  fill: var(--color-white);
}

/*-------------------------project-slider-------------------*/
.project__swiper-title {
  line-height: 32px;
  margin-bottom: 24px;
}

.project__swiper-container {
  position: relative;
}

.project__swiper {
  max-width: 1450px;
}

.project__swiper-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey-white);
  height: 150px;
  max-width: 450px;
}

.project__swiper-link:hover picture .project__swiper-img {
  filter: grayscale(0);
  opacity: 1;
}

.project__swiper-link:focus-visible {
  outline: none;
  border: 1px solid var(--BlueViolet);
}

.project__swiper-link:active {
  border: 1px solid var(--BlueViolet);
  filter: grayscale(0);
  opacity: 1;
}

.project__swiper-img {
  filter: grayscale(1);
  opacity: 0.4;
  width: 100%;
}

#project-button-prev {
  width: 30px;
  height: 30px;
  top: 56%;
  left: 0;
}

#project-button-next {
  width: 30px;
  height: 30px;
  top: 56%;
  right: 0;
}

#project-button-next:hover svg,
#project-button-prev:hover svg {
  fill: var(--whiteViolet);
}

#project-button-next,
#project-button-prev:focus {
  outline: none;
}

#project-button-next:focus:not(:hover):not(:active) svg,
#project-button-prev:focus:not(:hover):not(:active) svg {
  stroke: var(--BlueViolet);
}

#project-button-next:active svg,
#project-button-prev:focus:active svg {
  fill: var(--whiteViolet);
  stroke: var(--darkVioler);
}

/*-----------------------------------------------section-contacts-------------------------------------------*/
.contacts {
  border-top: 1px solid var(--color-grey-white);
}

.contacts__container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 31px;
}

.contacts__name-title {
  margin: 0;
  margin-bottom: 10px;
}

.contacts__name-address {
  display: block;
}

/*--------------------------contacts-form---------------------------*/
.contacts__form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.contacts__form-input {
  margin-right: 20px;
}

.contacts__form-input {
  padding: 13.5px 50px 13.5px 30px;
  border: 1px solid var(--color-grey-white);
  border-radius: 30px;
  height: auto;
  cursor: pointer;
}

.contacts__form-input:hover:not(:active) {
  background-color: var(--color-grey-white-white);
}

.contacts__form-input:focus-visible:not(:active) {
  background-color: var(--color-grey-white-white);
}

.contacts__form-input::placeholder {
  font-size: 16px;
  line-height: 2em;
  font-size: 16px;
  line-height: 19px;
}

label.error.fail-alert {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #d11616;
}

input.error,
textarea.error {
  border: 1px solid #d11616;
  font-weight: 400;
  color: #d11616;
}

input.valid.success-alert {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: transparent;
}

.contacts__form-btn,
.contacts__form-btn1 {
  padding: 10px 36px;
  height: auto;
  font: 700 18px/25px "Open Sans";
  color: var(--BlueViolet);
  border: 2px solid var(--BlueViolet);
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
}

.contacts__form-btn1 {
  display: none;
}

.contacts__form-btn:focus-visible {
  outline: 2px solid var(--violet);
  outline-offset: 2px;
}

.contacts__form-btn:hover {
  color: var(--color-white);
  background-color: var(--BlueViolet);
}

.contacts__form-btn:active {
  color: var(--white);
  border: 3px solid var(--whiteViolet);
  background-color: var(--darkVioler);
  color: var(--color-white);
}

.error {
  padding-left: 30px;
}

.form-wrap {
  display: flex;
  flex-direction: column-reverse;
  height: 50px;
}

.contacts__connection-desc {
  margin-top: 14px;
  margin-bottom: 0;
  font: 600 24px/32px "Open Sans";
  color: var(--gray);
}

.contacts__connection-list {
  display: flex;
  margin-top: 6px;
}

.contacts__connection-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__connection-link:focus-visible {
  opacity: 0.35;
  outline: none;
}

.contacts__connection-link:hover:not(:active) {
  opacity: 0.35;
}

.contacts__connection-link:active svg {
  opacity: 1;
  stroke: var(--BlueViolet);
}

#map {
  width: auto;
  height: 700px;
  border-top: 1px solid var(--color-grey-white);
  overflow-x: hidden;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none;
}

/*----------------------------------------------------footer--------------------------------------------------*/
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-black-black);
}

.footer__container {
  display: flex;
}

.footer__list-social {
  margin-left: auto;
  display: flex;
  transform: translateY(-6px);
}

.footer__item-link {
  background-color: transparent;
}

.footer__item-link:focus {
  outline: none;
}

.footer__item-link:hover {
  cursor: pointer;
}

.footer__item-link:focus-visible svg path {
  fill: var(--color-white);
}

.footer__item-link:hover path {
  fill: var(--color-white);
}

.footer__item-link:active svg path {
  fill: var(--BlueViolet);
}

.footer__logo {
  cursor: pointer;
}